* {
    box-sizing: border-box;
    /* border: 1px red solid */
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1.7fr 1fr 1fr 4fr 2fr 2fr 1.7fr;
    grid-template-areas: 
    "header header header"
    "instruct instruct instruct"
    ". numbers ."
    "alphab board answ"
    "messg messg messg"
    "colrs colrs colrs"
    ". buttn .";
    background-color: rgb(227, 244, 205);
    margin: 13px;
  }
  /* rgb(211, 240, 176) */
  header {
    grid-area: header;
    font-size: 6vmin;
    color: rgb(119, 137, 96);
    font-weight: 1200;
    letter-spacing: 1vmin;
    justify-self: center;
    align-self: end;
  }

  .instructions {
    grid-area: instruct;
    font-size: 2vmin;
    color: rgb(119, 137, 96);
    font-weight: 500;
    font-style: italic;
    justify-self: center;
    align-self: center;
    
  }
  .instructions:hover {
    font-size: 2.3vmin;
    transition-duration: 100ms;
  }

  .numbers {
    grid-area: numbers;
    background-color: rgb(176, 175, 175);
    color: rgb(119, 137, 96);
    border: 1vmin solid rgb(119, 137, 96);
    display: flex;
    flex-direction: row;
    /* height: 25px;
    width: 300px; */
    justify-content: space-around;
    align-items: center;
    justify-self: stretch;
    align-self: stretch;
    text-align: center;
    font-size: 20px;

  }

  .alphabet {
    grid-area: alphab;
    background-color: rgb(176, 175, 175);
    border: 1vmin solid rgb(119, 137, 96);
    color: rgb(119, 137, 96);
    display: flex;
    flex-direction: column;
    width: 8vmin;
    justify-content: space-evenly;
    align-items: center;
    justify-self: end;
    font-size: 25px;

  }

  #board {
    background-color: rgb(119, 137, 96);
    border: 1vmin solid rgb(119, 137, 96);
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(4, auto);
    gap: 1vmin;
    grid-area: board;
    justify-self: stretch;
    align-self: stretch;

  }
  #board > div {
    /* border: rgb(137, 155, 116) 1px solid;  */
    justify-self: stretch;
    align-self: stretch;
    /* background-color: rgb(211, 20, 20);
    padding: 10px; */
  }

  .answer {
    background-color: rgb(176, 175, 175);
    border: 1vmin solid rgb(119, 137, 96);
    display: flex;
    flex-direction: column;
    width: 8vmin;
    justify-content: space-evenly;
    align-items: center;
    justify-self: start;
    grid-area: answ;
    /* justify-self: start; */

  }
  .answer>* {
    height: 5vmin;
    width: 5vmin;
    border: 0.5vmin solid rgb(119, 137, 96);
  }

  .message {
    color: rgb(119, 137, 96);
    grid-area: messg;
    justify-self: center;
    align-self: center;
    text-align: center;
  }

  #colors {
    grid-area: colrs;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  #colors>*:hover{
    height: 7vh;
    width: 7vh;
    transition-duration: 100ms;

  }

  #colors>* {
    height: 6vh;
    width: 6vh;
    border: 0.5vmin solid rgb(119, 137, 96);

  }
  
  .blue {
    background-color: rgb(156, 213, 242);
  }
  .pink {
    background-color: rgb(248, 183, 205);
  }
  .purple {
    background-color: rgb(178, 167, 211);
  }
  .yellow {
    background-color: rgb(246, 239, 181);
  }
  .green {
    background-color: rgb(112, 173, 169);
  }
  .orange {
    background-color: rgb(251, 197, 159);
  }

  .start {
    grid-area: buttn;
    height: 6vh;
    width: 15vh;
    justify-self: center;
    align-self: start;
  }