* {
    box-sizing: border-box;
    /* border: 1px red solid */
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 4fr 1.3fr 1fr 1.5fr;
    grid-template-areas: 
    "header header header"
    "instruct instruct instruct"
    ". numbers ."
    "alphab board answ"
    "messg messg messg"
    "colrs colrs colrs"
    ". buttn .";
    background-color: rgb(227, 244, 205);
    margin: 25px;
  }
  /* rgb(211, 240, 176) */
  header {
    grid-area: header;
    font-size: 6vmin;
    color: rgb(85, 98, 68);
    font-style: bold;
    font-weight: 900;
    letter-spacing: 1vmin;
    justify-self: center;
    align-self: end;
  }

  .instructions {
    grid-area: instruct;
    font-size: 2vmin;
    color: rgb(119, 137, 96);
    font-weight: 500;
    font-style: italic;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    
  }
  .instructions:hover {
    /* font-size: 2.3vmin; */
    text-decoration: underline;
    transition-duration: 100ms;
  }

  .numbers {
    grid-area: numbers;
    background-color: rgba(180, 194, 162, 0.88);
    color: rgb(119, 137, 96);
    border: 1vmin solid rgb(119, 137, 96);
    border-bottom: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-self: stretch;
    align-self: stretch;
    text-align: center;
    font-size: 20px;

  }

  .alphabet {
    grid-area: alphab;
    background-color: rgba(180, 194, 162, 0.88);
    border: 1vmin solid rgb(119, 137, 96);
    border-right: none;
    color: rgb(119, 137, 96);
    display: flex;
    flex-direction: column;
    width: 8vmin;
    justify-content: space-evenly;
    align-items: center;
    justify-self: end;
    font-size: 25px;
    /* border-radius: 2vmin; */

  }

  #board {
    background-color: rgb(119, 137, 96);
    border: 1vmin solid rgb(119, 137, 96);
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(4, auto);
    gap: 1vmin;
    grid-area: board;
    justify-self: stretch;
    align-self: stretch;
    
    /* border-radius: 2vmin; */

  }
  #board > div {
    /* border: rgb(137, 155, 116) 1px solid;  */
    /* justify-self: stretch;
    align-self: stretch; */
    /* background-color: rgb(211, 20, 20);
    padding: 10px; */
    
    border-radius: 50%;
  }

  .answer {
    background-color: rgba(180, 194, 162, 0.88);
    border: 1vmin solid rgb(119, 137, 96);
    border-left: none;
    display: flex;
    flex-direction: column;
    width: 8vmin;
    justify-content: space-evenly;
    align-items: center;
    justify-self: start;
    grid-area: answ;
    /* justify-self: start; */

  }
  .answer>* {
    height: 5vmin;
    width: 5vmin;
    border: 0.5vmin solid rgb(119, 137, 96);
    border-radius: 50%;
  }

  .message {
    color: rgb(85, 98, 68);
    grid-area: messg;
    justify-self: center;
    align-self: center;
    text-align: center;
    line-height: 120%;
    margin-bottom: -1vmax;
    font-weight: 900;
  }

  #colors {
    grid-area: colrs;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1vmin;
  }

  #colors>*:hover{
    height: 6vmax;
    width: 6vmax;
    transition-duration: 100ms;

  }

  #colors>* {
    height: 7vmax;
    width: 7vmax;
    border: 0.5vmin solid rgb(119, 137, 96);
    border-radius: 50%;

  }
  
  .blue {
    background-color: rgb(156, 213, 242);
  }
  .pink {
    background-color: rgb(248, 183, 205);
  }
  .purple {
    background-color: rgb(178, 167, 211);
  }
  .yellow {
    background-color: rgb(246, 239, 181);
  }
  .green {
    background-color: rgb(112, 173, 169);
  }
  .orange {
    background-color: rgb(251, 197, 159);
  }

  .start {
    grid-area: buttn;
    height: 6vh;
    width: 20vh;
    border: 0.5vmin solid rgb(85, 98, 68);
    border-radius: 4vmin;
    color: rgb(85, 98, 68);
    background-color: rgb(227, 244, 205);
    justify-self: center;
    align-self: start;
    margin-top: -4vmax;
  }

  .start:hover {
    background-color: rgb(85, 98, 68);
    color: rgb(227, 244, 205);
    transform: scale(1.1);
    transition: transform 150ms ease-in;
  }