* {
    box-sizing: border-box;
    /* border: 1px red solid */
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 4fr 1.3fr 1fr 1.5fr;
    grid-template-areas: 
    "header header header"
    "instruct instruct instruct"
    ". numbers ."
    "alphab board answ"
    "messg messg messg"
    "colrs colrs colrs"
    ". buttn .";
    background-color: rgb(55, 59, 49);
    margin: 25px;
  }
  /* rgb(211, 240, 176) */
  header {
    grid-area: header;
    font-size: 6vmin;
    color: rgb(227, 244, 205);
    /* font-style: bold; */
    font-weight: 900;
    letter-spacing: 1.5vmin;
    justify-self: center;
    align-self: end;
  }

  .instructions {
    grid-area: instruct;
    font-size: 3vmin;
    color: rgb(119, 137, 96);
    font-weight: 500;
    font-style: italic;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    
  }
  .instructions:hover {
    /* font-size: 2.3vmin; */
    text-decoration: underline;
    transition-duration: 100ms;
  }

  .numbers {
    height: 8vmin;
    grid-area: numbers;
    background-color: rgb(227, 244, 205);
    color: rgb(119, 137, 96);
    border: 1vmin solid rgb(119, 137, 96);
    border-bottom: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* numbers to be verically centered */
    font-size: 2.5vmin;
    align-self: end;
    border-top-right-radius: 2vmin;
    border-top-left-radius: 2vmin;
  }

  @media only screen and (min-width: 481px){
    .numbers {
      padding-right: 1.4vmin;
      padding-left: 1.4vmin;
    }
    
  }

  .numbers>div {
    width: 2.7vmax;
    text-align: center;

  }

  .alphabet {
    grid-area: alphab;
    background-color: rgb(227, 244, 205);
    border: 1vmin solid rgb(119, 137, 96);
    border-right: none;
    color: rgb(119, 137, 96);
    display: flex;
    flex-direction: column;
    width: 8vmin;
    justify-content: space-around;
    align-items: center;
    justify-self: end;
    font-size: 3.5vmin;
    border-top-left-radius: 2vmin;
    border-bottom-left-radius: 2vmin;
  }

  #board {
    background-color: rgb(119, 137, 96);
    border: 1vmin solid rgb(119, 137, 96);
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(4, auto);
    gap: 1vmin;
    grid-area: board;
    justify-self: stretch;
    align-self: stretch;
  }
  #board > div {
    border-radius: 50%;
    height: 4.5vmin;
    width: 4.5vmin;
    justify-self: center;
    align-self: center;
    /* border-top: 1px solid rgb(216, 35, 35); */
  }

  .answer {
    background-color:rgb(227, 244, 205);
    border: 1vmin solid rgb(119, 137, 96);
    border-left: none;
    display: flex;
    flex-direction: column;
    width: 8vmin;
    justify-content: space-around;
    align-items: center;
    justify-self: start;
    grid-area: answ;
    border-top-right-radius: 2vmin;
    border-bottom-right-radius: 2vmin;
  }
  .answer>* {
    height: 4.5vmin;
    width: 4.5vmin;
    justify-self: center;
    align-self: center;
    border: 0.5vmin solid rgb(119, 137, 96);
    border-radius: 50%;
  }

  .message {
    color: rgb(227, 244, 205);
    grid-area: messg;
    justify-self: center;
    align-self: center;
    text-align: center;
    line-height: 130%;
    margin-bottom: -1vmax;
    font-size: 3.5vmin;
    font-weight: 300;
  }

  #colors {
    grid-area: colrs;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1vmin;
  }

  #colors>*:hover{
    height: 6vmax;
    width: 6vmax;
    transition-duration: 100ms;

  }

  #colors>* {
    height: 7vmax;
    width: 7vmax;
    border: 0.5vmin solid rgb(227, 244, 205);
    border-radius: 50%;

  }
  
  .blue {
    background-color: rgb(156, 213, 242);
  }
  .pink {
    background-color: rgb(248, 183, 205);
  }
  .purple {
    background-color: rgb(178, 167, 211);
  }
  .yellow {
    background-color: rgb(246, 239, 181);
  }
  .green {
    background-color: rgb(112, 173, 153);
  }
  .orange {
    background-color: rgb(251, 197, 159);
  }

  .start {
    grid-area: buttn;
    height: 10vmin;
    width: 30vmin;
    border: 0.5vmin solid rgb(227, 244, 205);
    border-radius: 5vmin;
    color: rgb(227, 244, 205);
    background-color: rgb(85, 98, 68);
    justify-self: center;
    align-self: start;
    margin-top: -2vmax;
    font-size: 3.5vmin;
    font-weight: 300;
  }

  .start:hover {
    background-color: rgb(227, 244, 205);
    color: rgb(85, 98, 68);
    transform: scale(1.1);
    transition: transform 150ms ease-in;
  }