* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(55, 59, 49);
    margin: 25px;
    color: rgb(227, 244, 205);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6vmin;
  }

header {
    font-size: 4vmin;
    height: 15vmin;
}

.instructions {
    grid-area: instruct;
    font-size: 3.5vmin;
    color: rgb(119, 137, 96);
    font-weight: 500;
    font-style: italic;
    justify-self: center;
    align-self: center;
    text-decoration: none;
  }
  .instructions:hover {
    text-decoration: underline;
    transition-duration: 100ms;
  }

  p {
    font-size: 3vmin;
    text-align: center;
    line-height: 110%;
  }

  .video {
    border: 0.5vmin solid rgb(227, 244, 205);
}

@media only screen and (max-width: 481px) {
    body {
        margin-top: -4vmin;
    }
    .video {
        width: auto;
        height: auto;
    }
}

.tips {
  font-size: 3vmin;
  color: rgba(119, 137, 96, 0.5);
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  line-height: 5vmin;
  width: 35vmin;
  padding: 1vmin;
  margin-top: 5vmin;
  margin-bottom: 5vmin;
}

#black {
    border: 0.5vmin solid black;
    border-radius: 2vmin;
}

#white {
  border: 0.5vmin solid white;
  border-radius: 2vmin;
}

#blank {
  border: 0.5vmin solid rgb(85, 98, 68);
  border-radius: 2vmin;
}